/* CSS Document */
body {
/*	width:700px; */
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	margin:0px;
	padding:0px;
	float:left;
}
.margin-top-5
{
    margin-top: 5px;
}
.margin-left-15
{
    margin-left:15px;
}
.border-y
{
    border: solid 1px black;
}
.text-right
{
    text-align: right;
}
.padding-5
{
    padding: 5px;
}
.padding-left-20
{
    padding-left: 20px;
}
.email-message-parent {
	width:100%; 
	margin:5px auto;
	text-align:center;
}
.email-message-child {
	background-color: #FFFFCB; 
	padding:5px;
	width:200px; 
	font-size:14px; 
	font-weight:bold;
}
.fleft {
	float:left;
	text-align:left;
}
.fright {
	float:right;
	text-align:right;
}
.center
{
    text-align: center;
}
#container {
	width:670px;
	margin:auto;
}
#header {
	width:100%;
	border-bottom:solid 3px #000; 
}
.width-100
{
    width: 100%;
}
.width-190{
	width:190px;
}
.width-200 
{
    width: 200px;
}
.width_220 {
	width:220px;
}
.width_230 {
	width:230px;
}
.width_330 {
	width:330px;
}
.width_666 {
	width:666px;
	margin:auto;
}
.width_163 {
	width:163px;
}
.width_324 {
	width:324px;
}
.width_630 {
	width:630px;
}
.width_50 {
	width:50px;
}
.width_60 {
	width:60px;
}
.width_80 {
	width:80px;
}
.width_90 {
	width:90px;
}
.width_120 {
	width:120px;
}
.width_170 {
	width:170px;
}
.width_240 {
	width:240px;
}
.width_460 {
	width:460px;
}
.border-bottom-black-1
{
    border-bottom: solid 1px black;
}
.border-top-black-1
{
    border-top: solid 1px black;
}
.border-top-black
 {
    border-top:solid 1px #000000;
 }
.light-gray-back
{
    background-color: #f0f0f0;
}
.white-bg{
	background:#ffffff
}
.display-none
{
    display: none;
}
#agency {  
	width:100%;
	margin:0px;
	padding:0px;
	float:left;
}
#agency span {  
	margin:0px;
	padding:0px;
	float:left;
	font-size:16px;
	font-weight:bold;
}
#ticket_desc {
	width:100%;
	margin:0px;
	padding:0px;
	float:left;
	text-align:center;
}
#ticket_desc h1 {
	margin:-5px 0px 0px 0px;
	padding:0px;
	font-size:35px;
	font-family:Times New Roman, Times, serif;
	font-weight:600;
}
#ticket_desc h3 {
	margin:5px 0px 0px 0px;
	padding:0px;
	font-size:16px;
	font-weight:500;
}
#ticket_desc h4 {
	margin:2px 0px 0px 0px;
	padding:0px;
	font-size:16px;
	font-weight:500;
}
#address {  
	width:100%;
	margin:0px;
	padding:0px;
	float:left;
}
#address span {
	width:150px;
	margin:0px;
	padding:0px;
	float:right;
	font-size:13px;
	font-weight:500;
	text-align:right;
}
.flight_desc {
	width:666px;
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.flight_day {
	width: 163px;
	float:left;
	font-size:16px;
	font-weight:600;
	font-family:Arial, Helvetica, sans-serif;
}
.flight_name {
	width: 320px;
	float:left;
	font-size:16px;
	font-weight:600;
	font-family:Arial, Helvetica, sans-serif;
}
.flight_ref {
	width: 163px;
	float:right;
	font-size:12px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	text-align:right;
}
.from {
	width:50px;
	float:left;
	font-size:13px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	text-align:left;
	margin:8px 0px 0px 0px;
}
.departure_stn {
	width:460px;
	float:left;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	text-align:left;
	margin:8px 0px 0px 0px;
	word-spacing:2px;
}
.departure_stn span,
.arrival_stn span {
	font-size:13px;
	font-weight:normal;
}
.departure_time {
	width:120px;
	float:left;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	text-align:right;
	margin:8px 0px 0px 0px;
}
.to {
	width:50px;
	float:left;
	font-size:13px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	text-align:left;
	margin:-1px 0px 0px 0px;
}
.arrival_stn {
	width:460px;
	float:left;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	text-align:left;
	word-spacing:2px;
	margin:-1px 0px 0px 0px;
}
.arrival_time {
	width:120px;
	float:left;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	text-align:right;
	margin:-1px 0px 0px 0px;
}
.flight_profile {
	width:655px;
	margin:0px;
	padding:0px;
	float:right;
	border-top:solid 1px #000;
}
.flight_profile span {
	margin:0px;
	padding:0px;
	float:left;
	text-align:left;
	white-space:nowrap;
	font-size:12px;
}
.partition {
	width:100%;
	margin:13px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-bottom:solid 2px #000; 
}
.special_note {
	width:100%;
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	border-top:solid 3px #000; 
}
.space {
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.note {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.note h4 {
	width:100%;
	margin:0px 0px 0px 0px;
	padding:15px 0px 20px 0px;
	float:left;
	vertical-align:middle;
	font-size:16px;
}
.note h4 b {
 padding-left:20px;
 float:left;
}
#footer {
	width:96%;
	margin:auto;
	padding:0px 0px 0px 0px;
}
#footer p {
	float:left;
	margin-top:2px;
	padding-bottom:10px;
	text-align:justify;
}
.total_amount {
	width:240px;
	margin:5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:left;
}
.total_amount span {
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:right;
	font-size:14px;
	text-align:right;
	font-weight:500;
}
.padding-top-10 {
	padding-top:10px;
}
.button-width {
	width:120px;
}

.total_amountdata {
	width:400px;
	margin:5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:left;
}
.total_amountdata span {
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:right;
	font-size:14px;
	text-align:right;
	font-weight:500;
}


/*Add for hotel connect added by seema on 24 Nov 09*/
      .cont{ width:728px; margin:0 auto; border-top:solid 1px rgb(228,227,223);}
        .log{ width:100%; height:33px; float:left; text-align:center; margin:5px auto;}
        .wid100{ width:100%;}
        .outtxt{ color:rgb(104,104,104); text-align:justify; font:bold 12px Arial,Verdna,Thoma; width:97%; padding:0px 10px;}
        .hadtxt{ color:rgb(29,53,99); text-align:left; font:bold 13px Arial,Verdna,Thoma; width:100%; padding:0px 10px; margin:10px 0px;}
        .txttbl{border-collapse:collapse; width:79%; margin:0px auto; border:solid 1px rgb(84,100,133); font:13px Arial,Verdana,Thoma;}
        .txtrw{ width:100%; border-right:solid 1px rgb(84,100,133);}
        .txtrw td{ border-bottom:solid 1px rgb(84,100,133);}
        .col1{ width:25%; border-right:solid 1px rgb(84,100,133);}
        .col1 span{ float:left; width:97%; padding:5px 0 5px 5px; }
        .col2{ width:27%; border-right:solid 1px rgb(84,100,133);}
        .col2 span{ float:left; width:97%; padding:5px 0 5px 5px;}
        .col3{ width:20%; border-right:solid 1px rgb(84,100,133);}
        .col3 span{ float:left; width:97%; padding:5px 0 5px 5px;}
        .col4{ width:20%;}
        .col4 span{ float:left; width:97%; padding:5px 0 5px 5px;}
        .fnt{font: 14px Arial,Verdana,Thoma; color:rgb(29,53,101); text-align:center; width:100%; float:left; margin:5px auto;} 
        
.total_base{ width:100%;}
.total_base tr td{ padding:4px; font-size:12px;}